#Nested list

In [ ]:
#Nested list

nest = ['Furina', 7, 54, ['Nilou', 5, ['Keqing']]]

In [ ]:
nest [3]

['Nilou', 5, ['Keqing']]

In [ ]:
nest [3][0]

'Nilou'

In [ ]:
nest [3] [2] [0]

'Keqing'

#Dictionary

```
    - key value pairs
```

In [ ]:
d = {'Protocol1' : "DHCP", 'Protocol2' : "IMAP", 'Protocol3' : [67, 993, 587, [22, 23, [110, 995, ['SMTPS']]]], 'Char1': {'Keqing': 2, 'Hu Tao':['c1', 'c2','r1']}}

In [ ]:
# splice and indexing
d ['Protocol3'] [3] [2] [2] [0]

'SMTPS'

In [ ]:
d ['Char1'] ['Keqing']

2

In [ ]:
d ['Char1'] ['Hu Tao'] [1]

'c2'

#Boolean

    - True or False

#Tuple

- immutable
- uses parenthesis '()'
- Does'nt allow assignments

In [ ]:
Location = ('Mondstadt', 'Liyue', 'Inazuma')

In [ ]:
type(Location)

tuple

# Sets

- uses curly braces '{}'
- eliminates duplication
- sorts alphabetically; big letter 1st; small letters last

In [ ]:
WuWa_characters = {'Danjin', 'Rover', 'Camellya', 'Camellya', 'Camellya', 'Danjin', 'Rover', 'Jinhsi'}

In [ ]:
WuWa_characters

{'Camellya', 'Danjin', 'Jinhsi', 'Rover'}

In [ ]:
Profile_Name = { 'D', 'a', 'v', 'e', ' ', 'J', 'h', 'a', 'r', 'e', 'd', ' ', 'P', 'a', 'd', 'u', 'a', 'd', 'a', '-7', '23'}

In [ ]:
Profile_Name

{' ', '-7', '23', 'D', 'J', 'P', 'a', 'd', 'e', 'h', 'r', 'u', 'v'}

# Logic Operators

In [ ]:
(1 > 2) and (6 < 3)

# T, T = T
# T, F = F
# F, T = F
# F, F = F

False

In [ ]:
(1 > 2) or (3 < 6)

# T, T = T
# F, T = T
# T, F = T
# F, F = F

True

# IF Statement

In [ ]:
# two condition

if ( 7 < 3):
    print ('Dave')
else:
    print ('Jhared')

Jhared

# Loops
- for loop
- while

In [ ]:
seq = [1, 2, 3, 4, 5]

In [ ]:
for num in seq: # iteration
  print(num * num)

1
4
9
16
25

In [ ]:
# while

i = 10

while (i >= 5):
  print ('i is: {}'.format(i))
  i = i - 1

i is: 10
i is: 9
i is: 8
i is: 7
i is: 6
i is: 5

# CPE15 - Lab Activity 1

In [ ]:
# 1
(64 ** 3)

262144

In [ ]:
# 2
(145 ** (1/14))

1.4268667859316837

In [ ]:
# 3
(84 % 18)

12

In [ ]:
# 4
s = "The fox jumps over the lazy dog!"
s.split()

['The', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog!']

In [ ]:
# 5
planet = "Mars"
tilt_of_axis = 23.5
diameter = 7926
("The planet {} has a diameter of {} and a tilt of axis at {}.".format(planet, diameter, tilt_of_axis))

'The planet Mars has a diameter of 7926 and a tilt of axis at 23.5.'

In [ ]:
# 6
list_1 = [1, 2, 3, [[4, 5, 6,['a','b','c', 'd', 'e','f', 'target', 7, 8, 9], 10, 11,12]]]

In [ ]:
list_1[3][0][3][6]

'target'

In [ ]:
# 7
list_2 = [1,2,3,[4,5,['a','b','c',['d','e','f','g',['h','target'],6,7]],8,9]]

In [ ]:
list_2 [3][2][3][4][1]

'target'

In [ ]:
# 8
list_3 = [1,2,3,[4,[[5,6,7,[8,9,10,[11,12,13,14,[15,16,'target']]]],16,17]],18]

In [ ]:
list_3 [3][1][0][3][3][4][2]

'target'

In [ ]:
# 9
d1 = {'k1':[1,2,3],'k2':{'k3':[1,2,3,4,'tricky']}}

In [ ]:
d1 ['k2']['k3'][4]

'tricky'

In [ ]:
# 10
d2 = {'k1':[1,2,3,],'k2':[{'k3':[4,6,6,'tricky']}]}

In [ ]:
d2 ['k2'][0]['k3'][3]

'tricky'

In [ ]:
# 11
d3 = {'k1':[1,2,3,{'Hello':['oh','man','this',{'is':[1,2,3,4,5,6,7,8,['tricky']]}]}]}

In [ ]:
d3 ['k1'][3]['Hello'][3]['is'][8][0]

'tricky'

In [ ]:
# 12 - 16

st = "Data science is the study of data to extract meaningful insights for business"

In [ ]:
st[0:4]

'Data'

In [ ]:
st[20:25]

'study'

In [ ]:
st[37:55]

'extract meaningful'

In [ ]:
st[56:64]

'insights'

In [ ]:
st[69:]

'business'

# Part two

- Functions
- Lambda
- Map
- Filter
- Common list methods
- Common string methods
- Common dictionary methods
- Tuple unpacking

# Functions

- a block of code designed to performed a specific tasks
- function help in organizing code making it more modular, reusable, and easier to maintain.

# Function with Multiple Arguments

In [ ]:
def add_numbers (a, b):
  print(f'The sum of {a} and {b} is {a + b}') # close the variable with {}

In [ ]:
add_numbers(2,3)

The sum of 2 and 3 is 5

# Function with Return Value

In [ ]:
def multiply_numbers (a, b):
  return a * b

In [ ]:
result = multiply_numbers (3, 3)
print(f"The result of multiplication is {result}")

The result of multiplication is 9

# Lambda Expressions
- a small, anonymouse function defined with the lambda keyword.
- unlike regular functions defined using the def keyword, lambda functions can have any number of arguments but only one expression.
- the expression is evaluated and returned
- lambda functions are often used for short, simple operations where a full function definition might seem excessive

In [ ]:
# Sample - Lambda expression for addition

add = lambda x, y: x + y
result = add(5, 3)
print(result)

8

In [ ]:
# Sample - Lambda expression for square of a number

square = lambda x: x ** 2
result = square(4)
print(result)

16

In [ ]:
# Sample - Lambda expression with condition

is_even = lambda x: x % 2 == 0
result = is_even(7)
print(result)

# Sample - Lambda expression with Even or Odd using ternary expression
is_even = lambda x: "Even" if x % 2 == 0 else "Odd"
result = is_even(4)
print(result)

False
Even

# Map Function
- the map() function is Python is a built-in function that applies given function to each item in an iterable (like a list, tuple, etc.) and returns a map object (which is an iterator)
- the map() function is useful when you need to transform or modify elements of an iterable without using explicit loops.
- map(function, iterable,...)

In [ ]:
# Squaring Numbers, Single Iterable

numbers = [1, 2, 3, 4, 5]

squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [ ]:
# Sum, Multiple Iterables

a = [1, 2, 3]
b = [4, 5, 6]

sum_result = list(map(lambda x, y: x + y, a, b))
print(sum_result)

[5, 7, 9]

In [ ]:
# Map in custom function

def add_five(x):
  return x + 5

numbers = [1, 2, 3]

result = list(map(add_five, numbers))
print(result)

[6, 7, 8]

In [ ]:
# Map in custom function, multiple arguments

def add_three_numbers (x, y, z):
  return x + y + z

list1 = [1, 2, 3]
list2 = [10, 20, 30]
list3 = [100, 200, 300]

# Using map to add corresponding elements from the three lists

result = list(map(add_three_numbers, list1, list2, list3))
print(result)

[111, 222, 333]

# Filter Function
- the filter() function in Python is a built-in function that is iterable from elements of an iterable for which for a which a specified function returns True.
- In other words, it filters out the elements from the iterable that do not satisfy the condition specified by the function
- filter (function, iterable)

In [ ]:
# Check for even numbers via filter

numbers = [1, 2, 3, 4]
is_even = lambda x: x % 2 == 0

even_numbers = list(filter(is_even, numbers))

# using filter

even_numbers = list(filter(is_even, numbers))
print(even_numbers)

[2, 4]

In [ ]:
# Using Filter with Map

numbers = [1, 2, 3, 4, 5, 6, 7, 8]

filtered_squares = list(filter(lambda x: x > 15, map(lambda x: x ** 2, numbers)))
filtered_squares

[16, 25, 36, 49, 64]

In [ ]:
# Using Filter with Map on Multiple Iterables

list1 = [1, 2, 3, 4, 5]
list2 = [10, 20, 30, 40, 50]

filtered_results = list(filter(lambda x: x > 100, map(lambda x, y: (x + y) ** 2, list1, list2)))
filtered_results

[121, 484, 1089, 1936, 3025]

In [ ]:
# Sample Using Dictionary

dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
dict2 = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

filtered_results = dict(filter(lambda item: item[1] > 30, map (lambda key: (key, (dict1[key] + dict2[key])), dict1)))

print(filtered_results)

{'c': 33, 'd': 44, 'e': 55}

# Common list methods

In [ ]:
# append() - adds to the last
# adds a single element to the end of the list.

Fontaine = ['Furina', 'Navia', 'Clorinde']

Fontaine.append('Focalor')
Fontaine

['Furina', 'Navia', 'Clorinde', 'Focalor']

In [ ]:
# extend()
# extends the list by appending all elements form another iterable

Liyue = ['Keqing', 'Zhongli', 'Xiangling']
Liyue.extend (['Shenhe', 'Hu Tao', 'Keqing'])

print(Liyue)

['Keqing', 'Zhongli', 'Xiangling', 'Shenhe', 'Hu Tao', 'Keqing']

In [ ]:
# Insert()
# Inserts an element at a specified position

Inazuma = ['Yoimiya', 'Ayaka', 'Kirara']
Inazuma.insert(1, 'Kazuha') # Insert 'Kazuha' at index 1
print(Inazuma)

['Yoimiya', 'Kazuha', 'Ayaka', 'Kirara']

In [ ]:
# Remove ()
# Removes the first occurrence of a specified element from the list

Sumeru = ['Collei', 'Tighnari', 'Nahida', 'Nilou']
Sumeru.remove('Collei')
print(Sumeru)

['Tighnari', 'Nahida', 'Nilou']

In [ ]:
# pop()
# Removes and returns the element at the specified position
# IF no index is specified, it removes and returns the last element

Natlan = ['Kachina', 'Kinich', 'Mualani']
removed_Natlan = Natlan.pop(1) # remove and return element at index 1
print(removed_Natlan)
print(Natlan)

Kinich
['Kachina', 'Mualani']

In [ ]:
# clear()
# removes all elements from the list, leaving it empty.

Hoyoverse = ['Honkai Impact 3rd', 'Genshin Impact', 'Honkai Star Rail']
Hoyoverse.clear()
print(Hoyoverse)

[]

In [ ]:
# index()
# returns the index of the first occurance of a specified element

Star_Rail = ['March 7th', 'Stelle', 'Firefly', 'Sparkle']
index_of_StarRail = Star_Rail.index('Sparkle')
print(index_of_StarRail)

3

In [ ]:
# count()
# returns the number of times a specified element appears in the list

Geo = ['Zhongli', 'Albedo', 'Zhongli', 'Kachina', 'Zhongli']
count_of_Zhongli = Geo.count('Zhongli')
print(count_of_Zhongli)

3

In [ ]:
# sort()
# sorts the elements of the list in ascending order by default
# can also sort in descending order by specifying rever=True

numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5] #doesnt apply mix (string and int)
numbers.sort()
# numbers.sort(reverse = True)
print(numbers)

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [ ]:
# reverse()
# reverses the elements of the list in place

Electro = ['Keqing', 'Lisa', 'Raiden', 'Fischl']
Electro.reverse()
print(Electro)

['Fischl', 'Raiden', 'Lisa', 'Keqing']

In [ ]:
# sort() with a key function
# sorts the list based on the key function provided

Pyro = ['Diluc', 'Bennett', 'Xiangling', 'Hu Tao']
Pyro.sort(key = len) # sorts by length
print(Pyro)

['Diluc', 'Hu Tao', 'Bennett', 'Xiangling']

In [ ]:
# len(list)
# returns the lenght of the list

Cryo = ['Eula', 'Diona', 'Ganyu', 'Qiqi']
length = len(Cryo)
print(length)

4

In [ ]:
# list comprehension
# although not a method, list comprehensions provide a concise way to create lists based on existing list

numbers = [1, 2, 3, 4, 5]

squares = [x ** 2 for x in numbers]

print(squares)

[1, 4, 9, 16, 25]

# Common string methods

In [ ]:
from typing import ValuesView
# upper()

text = "hello"
upper_text = text.upper()
print(upper_text)

capitalize = "world" # first letter only capital
capitalize_text = capitalize.capitalize()
print(capitalize_text)

title = "tech otakus save the world" # first letter of every word capital
title_text = title.title()
print(title_text)

strip = "     ZZZ      "
stripped_text = strip.strip()
print(stripped_text)

find = "Constellation Amber"
index = find.find("Amber")
print(index)

replace = "hellow world"
replaced_text = replace.replace("world", "universe")
print(replaced_text)

split_text = "paduada@mozmail.com"
split = split_text.split("@")
print(split)

person = {'name': 'Alice', 'age': 25}
keys = person.keys()
print(keys)

person1 = {'name': 'Alice', 'age': 25}
values= person1.values()
print(values)

people = {
    '001': {'name': 'Alice', 'age': 25},
    '002': {'name': 'Bob', 'age': 30},
    '003': {'name': 'Charlie', 'age': 35}
}

people['001'].update({'age': 26})
print(people)

HELLO
World
Tech Otakus Save The World
ZZZ
14
hellow universe
['paduada', 'mozmail.com']
dict_keys(['name', 'age'])
dict_values(['Alice', 25])
{'001': {'name': 'Alice', 'age': 26}, '002': {'name': 'Bob', 'age': 30}, '003': {'name': 'Charlie', 'age': 35}}

# Tuple unpacking

In [ ]:
person = ('Alice', 25, 'New York')
name, age, city = person

print(name)
print(age)
print(city)

Alice
25
New York

In [ ]:
people = [('Alice', 25,), ('Bob', 30), ('Charlie', 35)]

# using a for loop to unpack each tuple

for name, age in people:
  print(f"{name} is {age} years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old

In [ ]:
# using enumerate

fruits = ['apple', 'banana', 'cherry']

for index, fruit in enumerate(fruits):
  print(f"Index {index} contains {fruit}")

Index 0 contains apple
Index 1 contains banana
Index 2 contains cherry

In [ ]:
# using zip

names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]

for name, age in zip(names, ages):
  print(f"{name} is {age} years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old